<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

   <filter>
     <filter-name>Guice Servlet Filter</filter-name>
     <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
   </filter>

   <filter>
     <filter-name>t2</filter-name>
     <filter-class>org.t2framework.t2.filter.T2Filter</filter-class>
     <init-param>
       <param-name>t2.rootpackage</param-name>
       <param-value>org.mobylet.t2gae.page</param-value>
     </init-param>
     <init-param>
       <param-name>t2.container.adapter</param-name>
       <param-value>org.t2framework.t2.adapter.GuiceAdapter</param-value>
     </init-param>
     <init-param>
       <param-name>t2.exclude-resources</param-name>
       <param-value>css, js</param-value>
     </init-param>
   </filter>

    <filter>
        <filter-name>mobyletFilter</filter-name>
        <filter-class>org.mobylet.core.http.MobyletFilter</filter-class>
        <init-param>
        	<param-name>mobylet.config.dir</param-name>
        	<param-value>WEB-INF/resources/</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>rootFilter</filter-name>
        <filter-class>org.mobylet.t2gae.filter.GaeRootFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>mobyletFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>rootFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Guice Servlet Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>t2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


	<servlet>
		<servlet-name>imageScaleServlet</servlet-name>
		<servlet-class>org.mobylet.core.http.image.MobyletImageScaleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>imageScaleServlet</servlet-name>
		<url-pattern>/imageScaler</url-pattern>
	</servlet-mapping>

    <jsp-config>
    	<jsp-property-group>
    		<url-pattern>*.jsp</url-pattern>
    		<el-ignored>false</el-ignored>
    		<page-encoding>UTF-8</page-encoding>
    		<scripting-invalid>false</scripting-invalid>
    	</jsp-property-group>
    </jsp-config>

</web-app>
