<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">

    <filter>
        <filter-name>encodingfilter</filter-name>
        <filter-class>org.mobylet.core.http.MobyletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>encodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

	<servlet>
		<servlet-name>imageScaleServlet</servlet-name>
		<servlet-class>org.mobylet.core.http.image.MobyletImageScaleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>imageScaleServlet</servlet-name>
		<url-pattern>/imageScaler</url-pattern>
	</servlet-mapping>

    <jsp-config>
    	<jsp-property-group>
    		<url-pattern>*.jsp</url-pattern>
    		<el-ignored>false</el-ignored>
    		<page-encoding>UTF-8</page-encoding>
    		<scripting-invalid>false</scripting-invalid>
    		<include-prelude>/WEB-INF/view/common/common.jsp</include-prelude>
    	</jsp-property-group>
    </jsp-config>
</web-app>
