@charset "utf-8";


/**********************************/
/* ヘッダー領域                   */
/**********************************/

/*ヘッドライン色分け*/

#wrapper {
	border-top: 10px solid #007AC6;
}


/**********************************/
/* メイン領域                     */
/**********************************/

/*h2色分け*/
h2 {
	background: url(../img/bg_h2/h2_qa.gif) 0 0 no-repeat;
}


/*メインカセットhead色分け*/
h3 {
	background: url(../img/cst/bg_cst_qa.gif) 0 0 no-repeat;
	color: #007AC6;
}


/*h5タイトル色分け*/
h5 {
	background: url(../img/bg_h5/h5_qa.gif) 0 0 no-repeat;
}


/**********************************/
/* サイドエリア領域               */
/**********************************/

/*サイドカセットbtm色分け*/
.sideCst {
	background: #007AC6 url(../img/side/bg_side_qa.gif) 0 100% no-repeat;
}

/*サイドカセットhead色分け*/
.sideCst dt {
	background: url(../img/side/bg_side_qa.gif) 0 0 no-repeat;
}


/*サイドカセットinner色分け*/
.sideCst ul {
	background: #007AC6;
}


/**********************************/
/* フッターエリア領域             */
/**********************************/

#footer {
	border-top: 10px solid #007AC6;
}

