@charset "utf-8";

/************************************************************/
/* 装飾用classスタイル設定                                  */
/************************************************************/

/**********************************/
/* サイズ指定                     */
/**********************************/

.w50		{ width: 50px; }
.w120		{ width: 120px; }
.w150		{ width: 150px; }

/**********************************/
/* マージン指定                   */
/**********************************/

.marT1		{ margin-top: 1px; }
.marT2		{ margin-top: 2px; }
.marT3		{ margin-top: 3px; }
.marT5		{ margin-top: 5px; }
.marT10		{ margin-top: 10px; }
.marT20		{ margin-top: 20px; }
.marT22		{ margin-top: 22px; }
.marT30		{ margin-top: 30px; }
.marT40		{ margin-top: 40px; }

.marL20		{ margin-left: 20px; }

/**********************************/
/* パディング指定               */
/**********************************/
.pad5		{ padding: 5px; }

.padT5		{ padding-top: 5px; }
.padT10		{ padding-top: 10px; }
.padT20		{ padding-top: 20px; }

.padB5		{ padding-bottom: 5px; }
.padB10		{ padding-bottom: 10px; }
.padB20		{ padding-bottom: 20px; }


/**********************************/
/* フォント指定                   */
/**********************************/

.bld		{ font-weight: bold; }
.nrml		{ font-weight: normal; }

.fs10p		{ font-size: 10px; }
.fs12p		{ font-size: 12px; }
.fs14p		{ font-size: 14px; }
.fs16p		{ font-size: 16px; }

.fgAct		{ color: #9065C1; }
.fgRed		{ color: #E00000; }

.lh18p		{ line-height: 18px; }
.lh22p		{ line-height: 22px; }

/*自動改行禁止*/

.noWrap {
white-space: nowrap;
}

/**********************************/
/* ボーダー指定                   */
/**********************************/

.bdPhoto		{ border: 1px solid #316AC5; }

/**********************************/
/* リスト指定                       */
/**********************************/
.disc	{ list-style-type: disc; }

/**********************************/
/* 背景指定                       */
/**********************************/


/**********************************/
/* 位置指定                       */
/**********************************/

.fl	{ float: left; }
.fr	{ float: right; }
.cl { clear: both; }

.cLeft { clear: left; }

.tCenter	{ text-align: center; }
.tRight		{ text-align: right; }
.tLeft		{ text-align: left; }

.vTop		{ vertical-align: top; }
.vMiddle	{ vertical-align: middle; }
.vBottom	{ vertical-align: bottom; }

.imgTop img		{ vertical-align: top; }
.imgMiddle img	{ vertical-align: middle; }
.imgBottom img	{ vertical-align: bottom; }


.lspIn	{ list-style-position: inside ; }

